@use 'base/variables' as v;
@use 'base/mixins' as m;

.testimoniales {
    @include m.tablet { 
        // La imagen del lado izquierddo mide 40% y el resto mide 60%
        // Creamos 5 columnas y acda una de 4rem
        @include m.grid(5, 4rem);
        align-items: center;

        //Aqui decimos que la imagen ocupara el 40% extendiendo de la columna 1 hasta la 3
        .imagen {
            grid-column: 1 / 3;
        }
        //Aqui decimos que el contenido ocupara el 60% extendiendo de la columna 3 hasta la 6
        .contenido {
            grid-column: 3 / 6;
        }
    }

    h2 {
        @include m.headingBorder(v.$secundario, v.$primario);
    }
}
.contenido {
    .testimonial {
        background-color: v.$primario;
        border: .5rem solid v.$secundario;
        margin-bottom: 4rem;
        padding: 2rem;
        border-radius: 1rem;
        position: relative;

        @include m.tablet { 
            // de esta forma van a ser mas pequenos
            max-width: 70%;

            //El primero lo toma como 2, parece que es un bug de scss
            &:nth-child(2) {
                // lo posicionamos de foma de escalera
                margin-left: 10%;
            }
            &:nth-child(3) {
                // lo posicionamos de foma de escalera
                margin-left: 20%;
            }
            &:nth-child(4) {
                // lo posicionamos de foma de escalera
                margin-left: 30%;
            }
        }




        &::before {
            // va a ser una imagen de fondo, por eso colocamos content en vacio y display:block para que se pueda ver
            content: '';
            display: block;
            width: 5rem;
            height: 5rem;
            background-image: url(../img/comilla.svg);
            background-repeat: no-repeat;
            // position center para que este centrada en su espaci0o
            background-position: center;
            position: absolute;

        }

        &:last-of-type {
            // el ultimo le qutamos el margen
            margin-bottom: 0;
        }

        p {
            // por defult todos los parrafos tienen margin, se lo quitamos 
            //para que el padding quede bien alineado
            margin: 0;
            padding-left: 6rem;
        }
    }
}