.oferta {
    background-color: #00446e;
    padding: 2rem;
    text-align: center;
}

.precio {
    font-size: 6rem;
    margin: 0;
}

/* Aplica el mediaquery de 600 a 800px y luego despues de 1200px */

@media (min-width: 600px) and (max-width: 800px), (min-width: 1200px)  {
    .oferta {
        background-color: yellow;
    }
}

