// Usar las variables en otro file
@use 'variables' as v;

html {
    // Esto convierte un rem en 10px
    font-size: 62.5%;
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}
p {
    color: v.$negro;
    font-size: 1.6rem;
    // El interlineado entre los textos mas garnde como 2
    line-height: 2;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: v.$negro;
}
img {
    max-width: 100%;
    // La altura se va definiendo de acuerdo al anchoque tenga la imagen
    height: auto;
    display: block;
}
ul {
    // eliminamos la vineta que trae por defecto
    list-style: none;
    // quitaos el padding que trae pro defecto
    padding: 0;
    // eliminamos el margin que trae por defecto
    margin: 0;
}