@use 'variables' as v;

//Atajos para shortcode sninipets
//ctrl + p en visual studio code
//> 
//user snippets
//scss

// Para crear un mixin, se coloca @mixin y nombre de la variable
//Son reutlizables para codigo
@mixin telefono {
    // Estos son media query y van enfocados a movifirst
    @media (min-width: v.$telefono) {
        // Con @content le estamos diciendo que todo lo que esta en esta media query lo inyecte
        // en estas llaves
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        //Aqui inyectara todas las reglas que hemos descrito
        @content;
    }
}

@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}

@mixin grid( $columnas, $espaciado ) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}