@use 'variables' as v; 

/** Media Queries **/
@mixin telefono {
    @media (min-width: v.$telefono) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: v.$tablet) {
        @content;
    }
}
  
@mixin desktop {
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin boton($bgColor, $colorTexto) {
    background-color: $bgColor;
    padding: 2rem 4rem;
    color: $colorTexto;
    margin-top: 1rem;
    border-radius: 3rem;
    font-size: 2rem;
    font-weight: 700;
    display: block;

    @include tablet {
        display: inline-block;
    }
}

@mixin grid($columnas, $espaciado ) {
    display: grid;
    gap: $espaciado;
    grid-template-columns: repeat($columnas, 1fr);
}

      // overflow:hidden; ocultara lo que sobre sale del contenddor. 
        //overflow-y:hidden, overflow-x:scroll, hacen una barra horizontal sin afectar el resto de la pagina
        //Para alinear la barra es con scroll-snap-align:start, alinea lado izquierdo
        //scroll-snap-align:start, alinea lado derecho
        //scroll-snap-align:start, alinea centrado
@mixin scrollHorizontal {
    overflow-y: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;

    // Quiero aplicar este codigo css al primer nivel de hijo y cualquier elemento que sea ese hiijo
    > * {
        scroll-snap-align: center;
    }
}