@use 'base/variables' as v;

h1, h2, h3 {
    margin: 0;
    line-height: 1.5;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 3.2rem;
}
h3 {
    font-size: 2.4rem;
}
a {
    text-decoration: none;
}

// con $=, esto va a buscar cualquier nombre, pero que finalize en __heading
[class$="__heading"] {
    // le aplicamos un margin 2rem arriba y abajo y 0 izq y der
    margin: 2rem 0;
}