/* Agregamos unos customer properties p variables */
:root {
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;
/* fuente de google */
    --fuentePrincipal: 'Raleway', sans-serif;
}

/* Para que los rem sean 10px */
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    /* un interlineado */
    line-height: 1.8;
}
h1, h2, h3 {
     /* fuentes negritas */
    font-weight: 900;
    /* Sobre Nosotros.  Con line-height no se separa las lineas de una palabra con la otra */
    
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}
h2 {
    font-size: 5.8rem;
}
h3 {
    font-size: 5rem;
}
a {
    text-decoration: none;
}
/* Para hacer las imagenes responsive */
img {
    max-width: 100%;
    /* Esto es para que no tenga esa linea de la parte inferior */
    display: block;
}

/* Este es nuestro contenedor y se coloca un maximo de width de 1200px, que es el estandar */
.contenedor {
    max-width: 120rem;
    /* Para que este centrado */
    margin: 0 auto;
    /* En caso que sea menor a 1200px o 120rem, que agarre el 90% de ancho */
    width: 90%;
}
/* un boton global */
.btn {
    /* texto del boton es gris */
    color: var(--gris);
    background-color: var(--blanco);
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    /* Aqui colocamos una animacion */
    transition: background-color .3s;
}
.btn:hover {
    background-color: var(--gris);
    color: var(--blanco);
}

/** Utilidades **/
.text-center {
    text-align: center;
}
.mt-5 {
    margin-top: 5rem;
}

/** Header */
.header {
    /* Esta es la altura minima de alto.. Es decir..Por defalt es 60rem */
    min-height: 60rem;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    /* Con cover, tomaremos todo el espacio disponible con la imagen y asi no queda recortada */
    background-size: cover;
    /* Va a mosrar el centro de la imagen y no el comienzo que es un techo al empezara  aver la imagen*/
    background-position:  center;
    /* Tener un poco de esacio en laparte superior */
    padding: 5rem 0;
}
.contenido-header {
    display: flex;
    flex-direction: column;
    /* tenemos en header una altura minima de 60rem, entoncesyo hago un calculo de 60rem - 4rem
    para tener un alto default paravcontenido-header */
    height: calc(60rem - 4rem);
    /* Con esto, el texto del slogan esta en la parte inferior */
    justify-content: space-between;
    color: var(--blanco);
}
.nombre-sitio {
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
}
/* para pantallas mayores o iguales a 768px */
@media (min-width: 768px) { 
    .nombre-sitio {
        font-size: 5rem;
    }
}

.nombre-sitio span {
    font-weight: 900;
}

@media (min-width: 768px) { 
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) { 
    .contacto {
        align-items: flex-end;
    }
}
.telefono {
    /* con fles, automaticamente se coloca de izquier a derecha y ahora el icono del tlf 
    mas el nmeroe sta de izq a der */
    display: flex;
}

/* Este before, va  a crear un elemento en el html y lo coloca antes del elemento telefono y
no se puede seleccionar, ideales cuando quieres colocar un icono como un tlf */
.telefono::before {
    /* Cuando tienes un content vacio, por lo general vas a anadirlo via
    backgroudn ya sea  una imagen etc */
    content: '';
    /* como width y hight no afecta a un diplay:line que trae pordefecto los <a, se le coloca un 
    display block y ahora si va a tomar el width y el height */
    display: block;
    width: 4rem;
    height: 4rem;
    background-image: url(../img/telefono.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* hace la separacion delicono con el numero de tlf */
    margin-right: 1rem;
}

.header a {
    color: var(--blanco);
    font-size: 2rem;
}

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* un poquito de separacion hacia arriba */
    margin-top: 1rem;
}
@media (min-width: 768px) { 
    .navegacion {
        flex-direction: row;
    }
}
.navegacion a {
    /* paddng mas pequeno */
    padding: .5rem;
    /* Le colocamos animacion a background-color*/
    transition: background-color 300ms;
    /* toma todo el ancho disponible */
    width: 100%;
    text-align: center;
}
@media (min-width: 768px) { 
    .navegacion a {
        /* paddng mas grande */
        /* para que se ve mas grande el boton */
        padding: 1rem 2rem;
    }
}
.navegacion a:hover {
    /* Esto es al pasar el mouse sobre el enlace */
    /* red green blue, con transparencia de .5 */
    background-color: rgb( 255 255 255 / .5 );
    color: var(--negro);
}

.slogan {
    text-align: center;
}
@media (min-width: 768px) { 
    .slogan {
        text-align: right;
    }
}
.slogan h1 {
    font-size: 3rem;
    margin: 0;
}
@media (min-width: 768px) { 
    .slogan h1 {
        font-size: 5rem;
    }
}
.slogan p {
    margin: 0;
    line-height: 1;
}

/** Nosotros **/
.nosotros {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-image: url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    /* Quero posicionar la imagen en la parte inferior */
    /* Esto es para que se vea la imagen abajo, centrado y el texto en la parte superior en blano su fondo*/
    background-position: bottom center;
}
@media (min-width: 992px) { 
    .nosotros {
        grid-template-columns: repeat(3, 1fr);
    }
}

.contenido-nosotros {
    /* Esto es para que se vea la imagen y el texto en la parte superior en blano su fondo*/
    background-color: var(--blanco);
    /* Un paddin se exande 50px en dispositivos pequenos */
    padding: 5rem;
}
@media (min-width: 992px) { 
    /* Aqu colocamos el texto por encima de la imagen */
    .contenido-nosotros {
        grid-column: 2 / 4;
    }
}
.contenido-nosotros h2, 
.contenido-nosotros p {
    margin-bottom: 1rem;
}


/** Modelos **/

.modelo {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    background-repeat: no-repeat;
    background-position: bottom center;
    margin-bottom: 5rem;
}
.modelo:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) { 
    .modelo {
        grid-template-columns: repeat(2, 1fr);
    }
}

.contenido-modelo {
    padding: 5rem;
    background-color: var(--blanco);
}

.basico {
    background-image: url(../img/modelo_basico.jpg);
}
@media (min-width: 768px) { 
    .basico {
        background-position: top right;
    }
    .basico .contenido-modelo {
        grid-row: 2 / 3;
        padding: 2rem 2rem 2rem 0;
    }
}
.premier {
    background-image: url(../img/modelo_premier.jpg);
}
@media (min-width: 768px) { 
    .premier {
        background-position: top left;
    }
    .premier .contenido-modelo {
        grid-column: 2 / 3;
        padding: 2rem ;
    }
}
.elite {
    background-image: url(../img/modelo_elite.jpg);
}

@media (min-width: 768px) { 
    .elite {
        background-position: top right;
    }
    .elite .contenido-modelo {
        padding: 2rem 2rem 2rem 0;
    }
}

/** Galeria */

.galeria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) { 
    .galeria {
        grid-template-columns: repeat(3, 1fr);
    }
}
.galeria img {
    object-fit: cover;
    height: 100%;
}
.galeria .imagen:nth-child(2) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 4;
    }
}
.galeria .imagen:nth-child(3) {
    grid-row: 3 / 5;
    grid-column: 2 / 3;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }
}

.galeria .imagen:nth-child(6) {
    grid-row: 2 / 4;
}
@media (min-width: 768px) { 
    .galeria .imagen:nth-child(6) {
        grid-column: 3 / 4;
        grid-row: 1 / 3;
    }
}

.footer {
    height: 50rem;
    background-image: url(../img/footer_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    color: var(--blanco);
}
.footer a {
    color: var(--blanco);
    font-size: 2rem;
}

.copyright {
    background-color: var(--negro);
    text-align: center;
    margin: 5rem 0 0 0;
    font-size: 2rem;
    padding: 1rem;
}